.menu {
    display: none;
    flex-direction: column;
    gap: 7px;
  
    @include respond-to((mobile, tablet)) {
      display: flex;
      margin-right: auto;
    }
}
  
.open {
    @include respond-to((mobile, tablet)) {
      display: flex;
      flex-direction: column;
    }
}
  
.closed {
    @include respond-to((mobile, tablet)) {
      display: none;
    }
}
  
.menu-line {
    background-color: $white-color;
    height: 4px;
    width: 30px;
    border-radius: 5px;
  
    &:nth-child(2) {
      width: 20px;
    }

    @include respond-to(mobile) {
      height: 3px;
      width: 26px;

      &:nth-child(2) {
        width: 18px;
      }
    }
}
  