.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff70;
    background-image: url(../assets/map2.png);
    background-blend-mode: lighten;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: aliceblue;
        padding: 48px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(70, 70, 70, 0.3);
        min-width: 600px;
    }

    @include respond-to(mobile) {
        background-size: cover;

        &__card {
            width: 90%;
            min-width: 300px;
            max-width: 450px;
            padding: 32px 24px;
            margin: 16px 16px;
            overflow-y: scroll;
        }
    }

    @include respond-to(tablet) {
        background-size: cover;

        &__card {
            width: 80%;
            min-width: 500px;
            max-width: 600px;
        }
    }
}

.loginGreeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        font-size: 1.6rem;
    }
    
    h2 {
        margin: 22px 0 0;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6em;
        max-width: 400px;
    }

    img {
        width: 50px;
        height: auto;
    }

    @include respond-to(mobile) {
        h1 {
            font-size: 1.3rem;
        }

        h2 {
            font-size: 1rem;
        }

        img {
            width: 25px;
        }
    }

    @include respond-to(tablet) {
        h1 {
            font-size: 1.6rem;
        }

        img {
            width: 40px;
        }
    }
}        

.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-top: 22px;

    &__input {
        font-family: inherit;
        font-size: 1rem;
        padding: 14px;
        border: none;
        box-shadow: 0 0 5px rgba(70, 70, 70, 0.2);
        border-radius: 5px;
        margin-bottom: 16px;

        &:hover, &:focus {
            outline: 2px solid $primary-color;
        }
    }

    &__label {
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__btn {
        margin-top: 24px;
        @include button($primary-color);
        font-size: 1.2rem;
        width: 100%;
        padding: 16px 0;
    }
}

.createAccount-btn {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: $black-color;
    cursor: pointer;

    &:hover, &:focus {
        text-decoration: underline;
    }
}


.signupForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    div {
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin-top: 0;
        grid-column: span 2;
    }

    @include respond-to(mobile) {
        grid-template-columns: 1fr;

        &__btn {
            grid-column: span 1;
        }
    }
}

.message {
    margin-top: 16px;
    font-weight: 500;
}

.message.error{
    color: rgb(201, 0, 54);
}

.message.success {
    color: rgb(56, 157, 56);
}

.resendVerification-btn, .resetPassword-btn {
    font-family: inherit;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 500;
    color: $black-color;
    cursor: pointer;
}

.other-buttons {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginForm__input-container {
    position: relative;
}

input#password {
    width: 100%;
    padding-right: 40px;
    margin-bottom: 0;
}

.show-password-btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    cursor: pointer;
    pointer-events: all;
}