@import 'variables';
@import 'mixins';
@import 'global';
@import 'hamMenu';
@import 'login';
@import 'controlPanel';
@import 'popup';

.header {
  background-color: $primary-color;
  color: $white-color;
  height: 80px;
  @include flex-center(row);

  &__logo {
    @include flex-center;
  
    p {
      font-family: "Nerko One", system-ui;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.25em;
      line-height: 0.9em;
      margin: 0;
      user-select: none;
    }

    @include respond-to((mobile, tablet)) {
      width: max-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__earth-icon {
    margin: 0 3px 0 -3px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  &__pin-icon {
    width: 18px;
    height: 18px;
  }

  @include respond-to(mobile) {
    height: 65px;
    position: relative;

    &__logo {
      p {
        font-size: 1.4rem;
      }
    }

    &__pin-icon {
        width: 15px;
        height: 15px;
    }

    &__earth-icon {
        width: 22px;
        height: 22px;
    }
  }

  @include respond-to(tablet) {
    position: relative;
    padding: 30px 32px;
  }
}

.map {
  width: 70%;
  height: 100%;
  user-select: none;

  @include respond-to((mobile, tablet)) {
    width: 100%;
  }
}

.custom-tooltip {
  background: $white-color;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.leaflet-interactive:focus {
  outline: none;
}